*{
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(209, 208, 208, 0.658);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
  }

h1{
    text-align: center;
    font-size: medium;
    padding: 10px;
}

main{
    background-color: rgba(170, 167, 167, 0.877);
    min-width: 15em;
    max-width: 16.5em;
    height: 28em;
    border-radius: 10px;
    padding: 15px;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*2 colunas de 10px*/
    gap: 10px;
}

.numbers{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 5px;
}

.operation-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.operation {
    width: 60px;
    padding: 15px;
    background-color: rgba(222, 227, 230, 0.8);
    color: rgb(49, 49, 49);
    border: none;
    border-radius: 5px;
}

button{
    width: 60px;
    padding: 15px;
    background-color: rgba(6, 37, 77, 0.712);
    color: white;
    font: normal bold larger 'Arial', sans serif;
    border: none;
    border-radius: 5px;
}

button:hover{
    cursor: pointer;
    background-color: rgb(73, 100, 160);
}

#clear, #equal{
    background-color: rgb(27, 26, 26);
}

#clear:hover, #equal:hover, .operation:hover{
    background-color: rgba(8, 72, 87, 0.733);
}

#equal{
    position: absolute;
    top: 390px;
    width: 260px;
}

#display{
    padding: 10px;
    margin: 5px;
    width: 155px;
    border: none;
    background-color: rgb(218, 218, 218);
    overflow: break-word;
}